.bg {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
}

.closeBtn {
  position: fixed;
  top: 20px;
  right: 20px;
  font-size: 20px;
  color: #fff;
}

.closeBtn:hover {
  cursor: pointer;
}

/* modal ì°½*/
.body {
  position: absolute;
  max-width: 1200px;
  max-height: 90vh;
  width: 85vw;
  height: 50vw;
  text-align: center;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.1);

  display: flex;
  overflow-y: hidden;
}

.picWrap {
  height: 100%;
  width: 60%;
  min-width: 30%;
  background-color: pink;
}
.pic {
  width: 100%;
  height: auto;
}

.info {
  width: 40%;
  height: 100%;
}

.main {
  display: flex;
  flex-direction: column;
  position: relative;
  flex-grow: 1;
}

.scroll {
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  min-height: 0;
}
.likedBox {
  background-color: #fff;
  padding: 20px 16px;
}

.infoTop {
  position: sticky;
}

.infoBottom {
  position: sticky;
  bottom: 0;
}

.inputForm {
  display: flex;
  justify-content: space-between;
  padding: 8px 16px;
}

.inputComment {
  padding: 8px 12px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  width: 80%;
}

.inputButton {
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  color: #fff;
  padding: 8px 12px;
}

.btnActive {
  background-color: #f0bc63;
}
