header {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 90px;
  background-color: #fff;
  padding: 0 12px;
}

/* nav */

.nav {
  display: flex;
  justify-content: space-around;
}

.nav .navItem {
  padding: 0 12px;
}

.navIcon {
  color: #2e2d30;
  font-size: 24px;
}

.uploadBtn {
  cursor: pointer;
}
/* search*/

.searchBar {
  position: relative;
}

.searchBarInput {
  background-color: rgba(0, 0, 0, 0.1);
  padding: 12px 8px;
  border-radius: 8px;
  min-width: 230px;
}

/* searchRecent - 보류*/
.searchRecentTitle {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.searchRecentTitle .recentTitle {
  font-size: 20px;
  font-weight: bold;
}
.searchRecentTitle .recentClearBtn {
  padding: 0 6px;
  color: cornflowerblue;
  cursor: pointer;
}

/* searchResult */

.searchResult {
  position: absolute;
  left: -25px;
  background-color: #fff;
  min-width: 280px;
  min-height: 280px;
  margin-top: 16px;
  padding: 12px 8px;
  border-top: 0;
  box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  z-index: 9;
  display: none;
}

.focusActive {
  display: block;
}

.searchResult::before {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  background-color: #fff;
  top: -8px;
  left: 50%;
  transform: translateX(-50%) rotate(45deg);
  box-shadow: -1px -1px 12px rgba(0, 0, 0, 0.1);
}

.resultItem {
  display: flex;
  align-items: center;
  padding: 12px 8px;
}

.resultNothing {
  min-width: inherit;
  min-height: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  color: #999;
  display: none;
}

.nothingActive {
  display: flex;
}
.hashtagBg {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #ccc;
  border-radius: 50%;
  margin-right: 12px;
}

.hashtagIcon {
  font-size: 14px;
}

.hashtagName {
  display: block;
  font-weight: 600;
}
