*{
    padding: 0;
    margin: 0;
}
.container{
    display: flex;
    flex-direction: column;
}

.followList{
    max-width: 350px;
    flex-shrink: 1;
    display: flex;
}

.followItem{
    font-size: 15px;
    font-weight: 300;
    list-style: none;
    margin-right: 10px;
    box-sizing: border-box;
}

/* 친구 목록 리스트 */



/* 스위치 부분 */

.switchContainer{
    margin: auto;
    width: 100%;
    max-width: 900px;
    background: #f7ce37;;
    display: flex;
    flex-direction: row;
    letter-spacing: 1px;
    justify-content: center;
    flex-shrink: 0;
    /* box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2); */
    border-top: 2px solid #000;
    vertical-align: baseline;
    padding: 0;
}


.switch{
    font-size: 15px;
    color: #000;
    text-decoration: none;
    margin: 3px 20px 
}
.switch:focus{
    position: relative;
    top: -4px;
    border-top: 3px solid black;
}

.icon{
    margin-right:5px ;
}
.storyContainer{
    position: relative;
    width: 100%;
}

.StoryList{
    width: 760px;
    max-width: 100rem;
    height: 6rem;
    margin: 0 auto 30px;
    display: flex;
    justify-content: center;
    padding-top: 1.1rem;
    padding-left: 1.5rem;
    overflow-x: scroll;
    overflow-y:hidden;
    scroll-behavior: smooth;
    scrollbar-width: none;
    -ms-overflow-style: none;
    background-color: rgb(254, 237, 153);
}
.StoryList::-webkit-scrollbar{
    display: none;
}
.followerItem{
    width: 70px;
    height: 70px;
    margin-right: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.followerImg{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    border: 2px solid #fefefe;
}
.followerName{
    font-size: 12px;
    line-height: 15px;
    font-weight: 500;
}

.buttonContainer {
    width: 85%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    position: relative;
    top: -100px;
    left: 70px;
}
.button{
    display: flex;
    justify-content: space-between;
    border: 0;
    outline: 0;
    background-color: transparent;
}
.scrollArrow{
    cursor: pointer;
    filter:drop-shadow(0 0 0 #fff);
    width: 30px;
    height: 30px;
}

.showLeft{
    display: none;
}