.bg {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: default;
}

.closeBtn {
  position: fixed;
  top: 20px;
  right: 20px;
  font-size: 20px;
  color: #fff;
}

.closeBtn:hover {
  cursor: pointer;
}

.body {
  position: absolute;
  max-width: 1200px;
  max-height: 90vh;
  width: 85vw;
  height: 50vw;
  text-align: center;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
}

/* top */
.top {
  width: 100%;
  position: absolute;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
}
.title {
  font-size: 22px;
  padding: 16px 0;
}

.shareBtn {
  position: absolute;
  top: 16px;
  right: 16px;
  color: #f0bc63;
  cursor: pointer;
  font-size: 18px;
}
.main {
  height: 100%;
}

.main.formActive {
  display: flex;
}
/* form */
.form {
  width: 50%;
  height: 100%;
  padding-top: 65px;
}

.form.formActive {
}

.imgWrapper {
  width: 100%;
}
.imgPreview img {
  width: 100%;
  height: auto;
}

/* infoWrapper */
.textform {
  padding-top: 65px;
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-content: space-around;
}

.textarea {
  margin: 16px;
  padding: 16px 8px;
  height: 60%;
  resize: none;
}
