body{
    background: #f7ce37;
}

.Container{
    width: 470px;
    max-height: 750px;
    position: absolute;
    top: 50%;
    left: 70%;
    background:rgba(0, 0, 0, 0.2);
    transform:translate(-50%,-50%);
    color:white
}

.authForm{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-items: center;
    padding: 20px 0;
    box-shadow: rgba(0, 0, 0, 0.551) 0px 4px 0px;

}

.title{
    padding-left: 30px;
    font-size: 30px;
}

.signUp{
    margin-right: auto;
    padding:0 33px;
}
.signUp span{
    color: #fff;
    
}

.backToLogin{
    margin-right: auto;
    padding:0 33px;
}
.back{
    color: #fff;
}


.title{
    margin-right: auto;
    padding-left:30px ;
    font-size: 40px;
    font-weight: 500;
}


.input {
    width: 340px;
    font-size: 15px;
    padding: 20px;
    margin: 2px 0;
    border: 2px solid #000;
    border-radius: 30px;
    
}

.title{
    margin-right: auto;
    padding-left:30px ;
    font-size: 20px;
    font-weight: 500;
}

